/* CSS factory reset */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --navbarFullDisplay: flex;
  --navbarHamburgerDisplay: none;
  --profileColumnsLayout: row;
  --applicationsMantraShurVisibility: block;
  --navbarHamburgerContainerWidth: 65px;
  --navbarHamburgerContainerHeight: 75px;
  --navbarHamburgerLRPadding: 17px;
  --navbarHamburgerTBPadding: 28px;
  --navbarHamburgerBarGap: 5px;
  --navbarHamburgerBarWidth: calc(var(--navbarHamburgerContainerWidth) - (var(--navbarHamburgerLRPadding) * 2));
  --navbarHamburgerBarDiagonal: calc((var(--navbarHamburgerBarWidth) * 0.98));
  --navbarHamburgerBarHeight: calc((55px - (var(--navbarHamburgerBarGap) * 2)) / 3);
  --navbarHamburgerAnimation: 200ms ease-in-out;
  --flexDirectionRWD: row;
}

@media (prefers-color-scheme: light) {
  :root {
    background-image: url('../public/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 153, 185, 207;
    --background-end-rgb: 73, 105, 127;
    */
  }

  html {
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 73, 105, 127;
    --background-end-rgb: 73, 105, 127;
  }
  
  html {
    color-scheme: dark;
  }
}


/* Mobile */
@media (max-width: 700px) {
  :root {
    --navbarFullDisplay: none;
    --navbarHamburgerDisplay: flex;
    --profileColumnsLayout: column;
    --applicationsMantraShurVisibility: none;
    --flexDirectionRWD: column;
  }
  /* .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  } */
  
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}


ol {
  margin-left: 1.4em;
}

label {
  vertical-align: middle;
}

input[type=checkbox] {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* line-height: normal; */
  width: 20px;
  height: 20px;
  vertical-align: middle;
  }

a {
  color: inherit;
  /* font-weight: bolder; */
  text-decoration: none;
}









/* temp */
thead {
  background-color: #2c5e77;
  color: #fff;
}

tfoot td {
  background-color: #2c5e77;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: top;
  font-size: 24px;
  padding: 10px;
}

th {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  color: white;
  font-size: large;
  font-weight: bolder;
}

td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  color: black;
  font-size: large;
  font-weight: bolder;
}

td {
  text-align: center;
}
